*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.icons {
  cursor: pointer;
}

  .delete-icon {
    margin-right: 5px;
    color: #fff;
    cursor: poiter;
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .edit-icon {
    color: #fff;
    cursor: poiter;
    display: flex;
    align-items: center;
    font-size: 24px;
  }

